    <h2 class="petition-title">Sign our petition to have a breakfast Friday!</h2>
    <p class="petition-text">Are you feeling tired or burning outby the end of the week? Lets make SPICED holding a weekly breakfast Friday and refuel our fuels!</p>