<div class="main-content">
    <form method="POST">
        <h3>Please log in :)</h3>
        <input type="text" placeholder="Email address" name="email" required><br><br>
        <input type="password" placeholder="Password" name="pwd" required><br><br>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <button id="login-button" class="buttons">Login</button>
    {{#if error}}
    <p id="login-wrong" class="error-msg">Woops... email or/and password not correct!</p>
    {{/if}}
    </form>
</div>
