<div class="main-content">
<h2>Please log in :)</h2>
    <form method="POST">
        <div class="input-box">
            <input
                type="email"
                name="email"
                onkeyup="this.setAttribute('value', this.value);"
                value=""
                required
            />
            <label>Email Address</label>
        </div>
        <div class="input-box">
            <input
                type="password"
                name="pwd"
                onkeyup="this.setAttribute('value', this.value);"
                value=""
                required
            />
            <label>Password</label>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <button id="login-button" class="buttons">Login</button>
        {{!-- <p>
            Want to edit your profile? Click
            <a href="/profile/edit" id="click-here">here</a> to edit!
        </p> --}}
        {{#if error}}
        <p id="login-wrong" class="error-msg">
            Woops... email or/and password not correct!
        </p>
        {{/if}}
    </form>
</div>
