<div class="petition-main">
    <h2 class="petition-title">Sign our petition to have a breakfast Friday!</h2>
    <p class="petition-text">Are you feeling tired or burning outby the end of the week? Lets make SPICED holding a free breakfast every Friday morning and refuel our fuels!</p>
    <input type="text" class="first-name" placeholder="First Name">
    <input type="text" class="last-name" placeholder="Last Name"><br><br>
    <input type="hidden" class="signature"> 
        
    <div>{{> canvas }} </div>

    <button class="submit-button">Submit</button>
</div>