<div class="main-content">
    <form method="POST">
        <h3>Cool!! Now why don't you tell us more about yourself :)?</h3>
        <div class="input-box">
            <input type="number" name="age" onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Age</label>
        </div>
        <div class="input-box">
            <input type="text" name="city" onkeyup="this.setAttribute('value', this.value);" value="">
            <label>City</label>
        </div>
        <div class="input-box">
            <input type="url" name="web" onkeyup="this.setAttribute('value', this.value);" value="">
            <label>Home Page</label>
        </div>
        
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

    <button id="next-button" class="buttons">Next</button>
    {{#if error}}
    <p id="profile-wrong" class="error-msg">Wooooops something went wrong!</p>
    {{/if}}
    </form>
</div>
