html,
body {
    height: 100%;
    background-image: url(/image.jpg);
    background-size: cover;
    margin: 0;
}

a:link {
    color: tomato;
}

a:visited {
    color: forestgreen;
}

.hidden {
    display: none;
}

#sig-error,
.error-msg {
    color: tomato;
}

.success-msg {
    color: cadetblue;
}

#redirect-login {
    color: darkgreen;
    margin-top: 20px;
    font-size: 14px;
}

#click-here {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
    background-color: lightpink;
}

main {
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
}

h1,
h3 {
    color: maroon;
}

.main-box {
    justify-content: center;
    text-align: center;
}

.main-content {
    align-items: flex-start;
    justify-content: center;
    background: rgba(255, 255, 252, 0.5);
    margin: 40px 100px;
    border-radius: 0.625rem;
    padding: 15px 40px;
    color: darkgreen;
}
#petition-page {
    display: flex;
    flex-direction: row-reverse;
}

#petition-box {
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 300px;
}

#petition-message {
    justify-content: flex-end;
    align-self: center;
    max-width: 350px;
}

#petition-message > h3 {
    color: honeydew;
    font-size: 35px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.main-content .input-box {
    position: relative;
}

.main-content .input-box input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: darkgreen;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid darkgreen;
    outline: none;
    background: transparent;
}

.main-content .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: darkgreen;
    pointer-events: none;
    transition: 0.5s;
}

.main-content .input-box input:focus ~ label,
.main-content .input-box input:valid ~ label,
.main-content .input-box input:not([value='']) ~ label {
    top: -1.125rem;
    left: 0;
    color: limegreen;
    font-size: 0.75rem;
}

#sign-here {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 15px;
}

.buttons {
    height: 50px;
    width: 150px;
    background-color: gold;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#delete-button.buttons {
    height: 60px;
    width: 210px;
    background-color: gold;
    color: lightyellow;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
}

#signature-box {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    border: 1px solid grey;
}

#signers-message {
    font-size: 16px;
    color: maroon;
}

#signer-names {
    text-align: left;
}

canvas {
    border: 2px black solid;
}

button {
    z-index: 1;
    font-size: inherit;
    font-family: inherit;
    color: white;
    padding: 0.5em 1em;
    outline: none;
    border: none;
    background-color: hsl(236, 32%, 26%);
}

button:hover {
    cursor: pointer;
    animation: jelly 0.5s;
}

@keyframes jelly {
    0%,
    100% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(0.9, 1.1);
    }
    50% {
        transform: scale(1.1, 0.9);
    }
    75% {
        transform: scale(0.95, 1.05);
    }
}

footer {
    height: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: lightpink;
    flex-shrink: 0;
}
