* {
    background-color: ivory;
}

html,
body {
    height: 100%;
}

.hidden {
    display: none;
}

#sig-error,
.error-msg {
    color: red;
}

#redirect-login {
    color: rebeccapurple;
    margin-top: 20px;
    font-size: 14px;
}

#click-here {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
    background-color: lightpink;
}

main {
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
}

.main-box {
    justify-content: center;
    text-align: center;
}

#sign-here {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 15px;
}

.buttons {
    height: 50px;
    width: 120px;
    background-color: gold;
    color: white;
    font-size: 25px;
    border: 2px dotted grey;
    cursor: pointer;
}
canvas {
    border: 2px black solid;
}

.main-content {
    align-items: flex-start;
    justify-content: center;
}

footer {
    height: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: lightpink;
    flex-shrink: 0;
}
