html,
body {
    height: 100%;
    background-image: url(/image.jpg);
    background-size: cover;
    margin: 0;
}

a:link {
    color: tomato;
}

a:visited {
    color: honeydew;
}

.hidden {
    display: none;
}

#sig-error,
.error-msg {
    color: tomato;
}

.success-msg {
    color: cadetblue;
}

#redirect-login {
    color: white;
    margin-top: 20px;
    font-size: 14px;
}

#click-here {
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 50px;
    text-align: center;
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 300;
    margin: 0px;
    background-color: lightpink;
}

main {
    display: flex;
    width: 100%;
    flex: 1 0 auto;
    justify-content: center;
}

.main-box {
    justify-content: center;
    text-align: center;
}

.main-content {
    align-items: flex-start;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    margin: 40px 100px;
    border-radius: 0.625rem;
    padding: 15px 40px;
    color: white;
}

.main-content .input-box {
    position: relative;
}

.main-content .input-box input {
    width: 100%;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: #fff;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: none;
    border-bottom: 0.065rem solid #fff;
    outline: none;
    background: transparent;
}

.main-content .input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: white;
    pointer-events: none;
    transition: 0.5s;
}

.main-content .input-box input:focus ~ label,
.main-content .input-box input:valid ~ label,
.main-content .input-box input:not([value='']) ~ label {
    top: -1.125rem;
    left: 0;
    color: #fdc705;
    font-size: 0.75rem;
}

#sign-here {
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 15px;
}

.buttons {
    height: 50px;
    width: 120px;
    background-color: gold;
    color: white;
    font-size: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#delete-button.buttons {
    height: 50px;
    width: 250px;
    background-color: gold;
    color: white;
    font-size: 25px;
    border: 2px dotted grey;
    cursor: pointer;
}

canvas {
    border: 2px black solid;
}

footer {
    height: 50px;
    padding-top: 10px;
    text-align: center;
    background-color: lightpink;
    flex-shrink: 0;
}
